* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: 'roboto', sans-serif;
    src: url(/Roboto/Roboto-Regular.ttf);
    font-family: 'Shrinkand', cursive;
    src: url(/Shrikhand/Shrikhand-Regular.ttf);
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
  }

  nav{
    font-family: 'Shrikhand', cursive;
  }
.restau{
    flex-direction: column;

}

.card{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}
  .restau img{
    width: 100%;
    object-fit: cover;
  }