* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Shrikhand&display=swap');


$roboto: 'Roboto';
$shrink:'Shrikhand';

$lightgrey: #f7f7f7;


body {
  font-family: $roboto;
  height: 100vh;
}
h1{
font-size: 20px;
margin: 1rem;
text-align: center;
}

h2{
font-size: 15px;
color: gray;
font-weight: 100;
text-align: center;
margin-bottom: 1rem ;
}

h4{
font-size: 15px;
color: darkgray;
font-weight: 100;
}
nav{
  font-family: $shrink;
  
  h1{
    font-size: 2rem;
  }
}

.maps{
padding: 0.5rem 1rem;
text-align: center;
background: #f7f7f7;
box-shadow: 2px 37px 62px -6px  rgba(0,0,0,0.4) inset;
}


.intro{ 
font-family: $roboto;

  .explore{
      background: #f7f7f7;
      padding: 1rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      button{
        color: white;
        font-weight: 400;
        padding: 0.5rem 0.5rem;
        border-radius: 4rem;
        border: none;
        box-shadow: 2px 15px 37px -5px rgba(0,0,0,0.4);
        background:linear-gradient(to bottom, #CE67CB 0%, #992B79 88%, #9B0B80 100%);
      }

  }
  .tuto{
    text-align: center;
    margin-bottom: 1rem;

    li{
      font-size: 12px;
      font-weight: bold;
      padding: 0.5rem 0rem;
      margin: 1rem 4rem;
      margin-bottom: 0.5rem;
      border-radius: 0.75rem;
      background: #f7f7f7;
      box-shadow: 5px -1px 12px 1px rgba(0,0,0,0.45);
    }
  }
}
.restau{
padding: 1rem 1rem;
  background: #f7f7f7;

}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;  

a{
  margin: 1rem 0rem;
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow:  2.5px 0px 10px 2.5px rgb(212, 212, 212);
  text-decoration: none;
  position: relative;
  

  img{
    max-height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0rem 0rem;
  }
  .name{
    margin-left: 1rem;
    padding: 0.75rem 0rem;
    color: black;
      
    & i{
        position: absolute;
        right: 25px;
        bottom: 20px;
    }

    & h4{
        color: lightgray;
        
    }

    & p{
        position: absolute;
        top: 20px;
        right: 20px;
        color: #13614d;
        background-color: #99E2D0;
        padding: 0.25rem;
    }
  }
}
}

footer{
background: #3b3b3b;


h1{
  font-family: $shrink;
  color: white;
  font-size: 2rem
}

a{
color: white;
text-decoration: none;
margin-left: 1rem;
display: flex;
flex-direction: column;
padding-bottom: 0.5rem;

  i{
    margin-right: 10px;
  }
}


}